<ion-view view-title="" class="otps">
<div class="bar bar-header bar-light header-bottom ">
<h1 class="title mar login-bar navcentericon"><img src="img/smallImg.png" alt="logo" ui-sref="tab.dash">
</div>
 <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>-->
   <ion-nav-bar class="bar-positive bar-color ">
  
    <ion-nav-buttons side="left">
      <div class="headerlogo"> 
<!--<img src="img/menu/navlogo.png" alt="logo" ui-sref="tab.dash">-->
      </div>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
      <p class="text-center">One last step before you check your result</p>
      <div class="row pad-15"> 
          <div class="col-25 text-center">  
<p class="padtop-5">College</p>
          </div>
          <div class="col-75 ">  
<input class="textHeight" type="text" placeholder="Your College Name">
          </div>
      </div>
    <div class="row pad-15"> 
          <div class="col-25 text-center">  
<p class="padtop-5">Course</p>
          </div>
          <div class="col-75 ">  
<input class="textHeight" type="text" placeholder="Current Course">
          </div>
      </div>
        <div class="row pad-15"> 
          <div class="col-25 text-center">  
<p class="padtop-5">Year</p>
          </div>
          <div class="col-75 ">  
<input class="textHeight" type="text" placeholder="In Which Year Are You Studying">
          </div>
      </div>
      <div class="butn-pull bgs2 ">
            <button class="button button-stable pad-15" ui-sref="tab.chats">
  Check Result
      </button>
          </div>
      </ion-content>
      </ion-view >