
  <ion-view  hide-nav-bar="true" >
    <ion-content>
      <div class="logo-img">
        <img src="img/mobile/logo-white.png" alt="Logo">
      </div>
      <div class="forms">
        <form action="">
          <h4 class="text-center">mobile number <br>verification</h4>
          <div class="list login-form">
            <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="+91">
          </label>
        </div>
          </div>
          <div class="note">
          <p> Note: <span>We will be sending One Time Password(OTP) to the  mobile number entered above.</span></p>
          </div>
          <div class="butn-pull">
            <button class="button button-stable " ui-sref="otp">
            submit
            </button>
          </div>

        </form>
        <div class="note notes">
        <p> Error: <span>Please enter valid mobile number &#60;having 10 digits / containing only number / starting with 3,7,8 or 9 &#62;</span></p>
        </div>
      </div>
    </ion-content>



</ion-view >
