<ion-view hide-nav-bar="false" class="bg-green">
  <ion-view  title="">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
           
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
    <div class="page" style="padding-top:25%">
      <div class="logo-img">
        <img src="img/Logo_png.png" alt="Logo">
      </div>
      <div class="forms">
        <form action="">
          <h4 class="text-center">mobile number <br>verification</h4>
          <div class="list login-form">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
            <input type="number" placeholder="Mobile Number" style="font-weight: 900; color:white;" ng-model="contact" ng-pattern="/^(\+\d[7-9]{1,3}[- ]?)?\d{10}$/" limit-to = "10" required>
          </label>
            </div>
          </div>
          <div class="note">
            <p> Note: <span>We will be sending One Time Password(OTP) to the mobile number entered above.</span></p>
          </div>
          <div class="butn-pull">
            <button class="button " style="width:50% !important;" ng-click="submitcontact(contact)">
              Submit    
            </button>
          </div>
        </form>
        <div class="note notes" ng-bind-html="msg">

        </div>
      </div>
    </div>

  </ion-content>



</ion-view>
