<!--<ion-view hide-nav-bar="true">
  <ion-content class="pdtop">
    <div class="logo-img" style="height:15px;">
      <img src="img/mobile/logo-white.png" alt="Logo">
    </div>
    <div class="forms">
      <form action="">
        <h4 class="text-center">mobile number <br>verification</h4>
        <span style="color:red;"> {{verifymsg}}</span>
        <span style="color:green;"> {{verifysucess}}</span>
        <div class="list login-form">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
          <input type="number" class="text-center" style="font-weight: 900; color:white;" ng-model="contact">
        </label>
          </div>
        </div>
        <div class="note">
          <p> Note: <span>We will be sending One Time Password(OTP) to the  mobile number entered above.</span></p>
        </div>
        <div class="butn-pull">
          <button class="button button-stable " ng-click="onsubmit()">
          submit
          </button>
        </div>

      </form>

    </div>
    <div class="forms">
      <form action="">
        <!-- <h4 class="text-center">mobile number <br>verification</h4> -->
<!--<div class="list login-form">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
          <input type="number" class="text-center" style="font-weight: 900; color:white;" placeholder="Enter OTP" ng-model="otpcode">
        </label>
  </div>
</div>
<div class="note">

  <p> Note: <span>The OTP is being sent to your Mobile Number entered. The application will read the OTP from SMS on its own and populated above. In case it is not populated above then check
your SMS box and retrieve the OTP from there and then enter
it manually.</span></p>
</div>
<div class="butn-pull">
  <button class="button button-stable " ng-click="verifyotp(otpcode)">
        Verify
          </button>
</div>

</form>

</div>
<div class="forms">
  <div class="resending ">
    <div class="note ">
      <p class="text-center">Didtn’t Get OTP?</p>
      <span>Check your mobile number entered.</span>
      <span> If the Number entered correct the click on “Resend OTP” button.</span>
    </div>
    <div class="butn-pull">
      <button class="button button-stable " ui-sref="app.home">
      resend OTP
          </button>
    </div>
  </div>
</div>

</ion-content>



</ion-view>
-->

<ion-view hide-nav-bar="true" class="bg-green">
  <ion-content>
    <div class="logo-img">
      <img src="img/mobile/logo-white.png" alt="Logo">
    </div>
    <div class="forms">
      <form action="">
        <h4 class="text-center">mobile number <br>verification</h4>
        <div class="list login-form">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="number" placeholder="+91" style="font-weight: 900; color:white;" ng-model="contact" data-ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" >
          </label>
          </div>
        </div>
        <div class="note">
          <p> Note: <span>We will be sending One Time Password(OTP) to the  mobile number entered above.</span></p>
        </div>
        <div class="list login-form">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
            <input type="number" placeholder="Enter OTP" style="font-weight: 900; color:white;" ng-model="otpcode">
          </label>
          </div>
        </div>
        <div class="note">

          <p> Note: <span>The OTP is being sent to your Mobile Number entered. The application will read the OTP from SMS on its own and populated above. In case it is not populated above then check
your SMS box and retrieve the OTP from there and then enter
it manually.</span></p>
        </div>
        <div class="butn-pull">
          <button class="button " style="width: 48%" ng-click="submitcontact(contact)">
              Resend OTP 
            </button>
          <button class="button " style="width: 48%" ng-click="verifyotp(otpcode)">
              Verify  
            </button>
        </div>

      </form>
    </div>
    <div class="note notes" ng-bind-html="verifymsg">

    </div>
  </ion-content>



</ion-view>
