<ion-view class="otps">
   <div class="bar bar-header bar-light header-bottom ">
<h1 class="title mar login-bar navcentericon"><img src="img/smallImg.png" alt="logo" ui-sref="tab.dash">
</div>
 <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>-->
  <ion-nav-bar class="bar-positive bar-color ">
  
    <ion-nav-buttons side="left">
      <div class="headerlogo"> 
<!--<img src="img/menu/navlogo.png" alt="logo" ui-sref="tab.dash">-->
      </div>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="shadow shadows">
      <div class="list card">
        <div class="item test-image">
          <div class="username">
            <!--<div class="userrelative">-->
            <span>{{username1}}</span></br>

            <span>{{username2}}</span>
            <!--</div>-->
          </div>
          <!--<span style="
    position: absolute !important;
    left: 47% !important;
    bottom: 67% !important;
    transform: translate(-50%, -50%) !important;
    overflow: initial !important;
    font-size: x-large !important;
">some text</span>
          <span class="userlastname" style="
    position: absolute !important;
    left: 46% !important;
    bottom: 58% !important;
    transform: translate(-50%, -50%) !important;
    overflow: initial !important;
        margin-left: 56px;
    font-size: x-large !important;
">biggest </span>-->

          
          <img src="img/Certificate.jpg">
        </div>
<div class="bgforgradient"><p>ET01 | {{testname}}</p> </div>
        <div class="info">
          <div class="certificate-info">
            <div class="row">
              <div class="col">
                <span>Total Questions</span>
              </div>
              <div class="col">
                <span>{{totalquestions}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span>Answered</span>
              </div>
              <div class="col">
                <span>{{questionsolved}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span>Quotient</span>
              </div>
              <div class="col">
                <span>{{percentage | number : 2}}%</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span>Congratulations</span>
              </div>
              <div class="col">
                <span></span>
              </div>
            </div>
          </div>
          <div class="butn-pull bgs">
            <button class="button button-stable " ui-sref="testreg">
  Publish On Social Media
      </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="shadow">
    <div class="list card">
    <div class="item test-image">
      <p>ET02 | Are You Job Ready?</p>
      <img src="img/test/man.jpg">
    </div>
<div class="info">
  <p> You think you know business? Take our quiz and find out how
well attuned you are to the demands of being an entrepreneur.</p>
  <div class="butn-pull bgs">
    <button class="button button-stable " ui-sref="app.home">
  Take Test
    </button>
  </div>
</div>
  </div>
  </div> -->
  </ion-content>
</ion-view>
