<ion-view class="otps">
  <ion-nav-bar class="bar-positive bar-color ">
    <!--<ion-nav-back-button>
    </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
      <img src="img/menu/edu.png" alt="logo" ui-sref="tab.dash">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear">
        <img src="img/menu/search.png" alt="search">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">

    <div class="shadow" ng-repeat="x in test">
      <div class="list card">
        <div class="item test-image">
          <p style="font-weight:bolder;">ET01 | {{x.name | uppercase}}</p>
          <img src="img/test/man.jpg">
        </div>
        <div class="info">
          <p> You think you know business? Take our quiz and find out how well attuned you are to the demands of being an entrepreneur.</p>
          <div class="butn-pull bgs">
            <button class="button button-stable" ui-sref="testreg({id: x._id})" ">
    Take Test
      </button>
          </div>
        </div>
      </div>
    </div>

    <!--  <div class="shadow ">
    <div class="list card ">
    <div class="item test-image ">
      <p>ET02 | Are You Job Ready?</p>
      <img src="img/test/man.jpg ">
    </div>
<div class="info ">
  <p> You think you know business? Take our quiz and find out how
well attuned you are to the demands of being an entrepreneur.</p>
  <div class="butn-pull bgs ">
    <button class="button button-stable " ui-sref="app.home ">
  Take Test
    </button>
  </div>
</div>
  </div>
</div>-->
  </ion-content>
</ion-view>
