<ion-view  class="otps">
  <ion-nav-bar class="bar-positive bar-color ">
    <!--<ion-nav-back-button>
    </ion-nav-back-button>-->
    <ion-nav-buttons side="left" >
      <a href="#/tab/dash">
          <img src="img/menu/edu.png" alt="logo"  >
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" >
        <img src="img/menu/search.png" alt="search">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="shadow shadows">
      <div class="list card">
      <div class="item test-image">
        <p>ET01 | ENTREPRENEURSHIP QUOTIENT</p>
        <img src="img/certificate/certi.jpg">
      </div>
<div class="info">
  <div class="certificate-info">
    <div class="row">
      <div class="col">
<span>Total Questions</span>
      </div>
      <div class="col">
<span>50</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
<span>Answered</span>
      </div>
      <div class="col">
<span>45</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
<span>Quotient</span>
      </div>
      <div class="col">
<span>91%</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
<span>Congratulations</span>
      </div>
      <div class="col">
<span></span>
      </div>
    </div>
  </div>
    <div class="butn-pull bgs">
      <button class="button button-stable " ui-sref="testreg">
  Publish On Social Media
      </button>
    </div>
</div>
    </div>
    </div>

  <!-- <div class="shadow">
    <div class="list card">
    <div class="item test-image">
      <p>ET02 | Are You Job Ready?</p>
      <img src="img/test/man.jpg">
    </div>
<div class="info">
  <p> You think you know business? Take our quiz and find out how
well attuned you are to the demands of being an entrepreneur.</p>
  <div class="butn-pull bgs">
    <button class="button button-stable " ui-sref="app.home">
  Take Test
    </button>
  </div>
</div>
  </div>
  </div> -->
  </ion-content>
</ion-view>
