<ion-view view-title="Profile" class="otps">
  <ion-content class="padding">
    <div class="">
      <div class="card">
        <div class="row">
          <div class="col-20">
            <div class="proImg">
              <i class="ion ion-person"></i>
            </div>
            <label for="">edit</label>

          </div>
          <div class="col-80">
            <div class="">
              <label class="">
                <span class="">First Name</span>
                <input class="pro-inbr" type="text" placeholder="First Name">
            </label>
              <label class="">
                <span class="">Last Name</span>
                <input class="pro-inbr" type="text" placeholder="Last Name">
            </label>
              <!--<label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>-->
            </div>
          </div>
        </div>
        <div>
          <label for="">PERSONAL INFORMATION</label>
        </div>
        <div class="">
          <div class="row">
            <div class="col-10 icondiv">
              <i class="ion ion-person"></i>
            </div>
            <div class="col-90">
              <label class="">
                <span class="">Display Name</span>
                <input class="pro-inbr" type="text" placeholder="Display Name">
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <i class="ion ion-person"></i>
            </div>
            <div class="col-90">
              <label class="">
                <span class="">Email</span>
                <input class="pro-inbr" type="email" placeholder="Email">
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <i class="ion ion-person"></i>
            </div>
            <div class="col-90">
              <label class="">
                <span class="">Mobile no.</span>
                <input class="pro-inbr" type="email" placeholder="Mobile no.">
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <i class="ion ion-person"></i>
            </div>
            <div class="col-90">
              <label class="">
                <span class="">Date of Birth.</span>
                <input class="" type="date" placeholder="Mobile no.">
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <i class="ion ion-person"></i>
            </div>
            <div class="col-90">
              <label class="">
                <span class="">Gender</span>
                <div>
                <input type="radio">Male
                <input type="radio">Female
                </div>
               

            </label>
            </div>
          </div>


        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
