<ion-view view-title="Profile" class="otps">
   <ion-nav-bar class="bar-positive bar-color ">
    <!--<ion-nav-back-button>
    </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
      <div class="headerlogo"> 
<img src="img/menu/navlogo.png" alt="logo" ui-sref="tab.dash">
      </div>
    
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="shadow2 shadows2">
      <div class="list card">
        <div class="row">
          <div class="col-20">
            <div class="profImg">
             <img src="img/profile.png" alt="">
            </div>
            <h4 class="editpro" for="">edit</h4>

          </div>
          <div class="col-80">
            <div class="">
              <label class="">
                <h4 class="nameText">First Name</h4>
                <input class="pro-inbr inputHeight" type="text" placeholder="First Name" disabled>
            </label>
              <label class="">
                <h4 class="nameText">Last Name</h4>
                <input class="pro-inbr inputHeight" type="text" placeholder="Last Name" disabled>
            </label>
              <!--<label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com">
            </label>-->
            </div>
          </div>
        </div>
        <div>
          <h4 class= "perinfo" for="">PERSONAL INFORMATION</h4>
        </div>
        <div class="">
          <div class="row">
            <div class="col-10 icondiv">
              <img src="img/user.png" alt="">
            </div>
            <div class="col-90 relative">
              <label class="">
                <h4 class="nameText">Display Name</h4>
                <input class="pro-inbr inputHeight" type="text" placeholder="Display Name" disabled>
            </label>
            <div class="absoluteImg">
              <img src="img/info.png" alt="">
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <img src="img/mail.png" alt="">
            </div>
            <div class="col-90 relative">
              <label class="">
                <h4 class="nameText ">Email</h4>
                <input class="pro-inbr inputHeight" type="email" placeholder="Email" disabled>
            </label>
            <p class="verified">Verified</p>
            <div class="veriImg">
              <img src="img/verify.png" alt="">
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv1">
              <img src="img/phone.png" alt="">
            </div>
            <div class="col-90 relative">
              <label class="">
                <h4 class="nameText">Mobile no.</h4>
                <input class="pro-inbr inputHeight" type="email" placeholder="Mobile no." disabled>
            </label>
             <p class="verified">Verified</p>
              <div class="veriImg">
              <img src="img/verify.png" alt="">
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <img src="img/birthday.png" alt="">
            </div>
            <div class="col-90">
              <label class="">
                <h4 class="nameText">Date of Birth.</h4>
                <input class="inputHeight" type="date" placeholder="DOB" disabled>
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-10 icondiv">
              <img src="img/gender.png" alt="">
            </div>
            <div class="col-90">
              <label class="">
                <h4 class="nameText">Gender</h4>
                <div>
                  <span>
<input  type="radio" name="gender" id="male" value="male" checked disabled><label for="male" >Male </label>
                  </span>
                <span>
<input  type="radio" name="gender" id="female" value="female" disabled><label for="female" >Female </label>
                </span>
                
                </div>
               

            </label>
            </div>
          </div>


        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
