<ion-view view-title="Account" class="otps">
  <ion-nav-bar class="bar-positive bar-color ">
    <!--<ion-nav-back-button>
    </ion-nav-back-button>-->
    <ion-nav-buttons side="left">
      <div class="headerlogo"> 
<img src="img/menu/navlogo.png" alt="logo" ui-sref="tab.dash">
      </div>
    
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
            <button class="button button-clear ion-navicon-round menuBtn" ng-click="popover.show($event)">
        </button>
            
        </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="shadow shadowsmsg">
      <div class="list card">
        <div class="row mar0">
        <div class="col-10 accimg">
<img src="img/checktick.png" alt="">
        </div>
        <div class="col-80">
     <p class="account-head " for="">New Test</p>
        </div>
        <div class="col-10">
<i class="ion-android-more-vertical moreacc"></i>
        </div>
        </div>
        <div class="row mar0">
        <div class="col-10">

        </div>
        <div class="col-90">
     <p class="account-text" for="">We have addded a new test on entrepreneurship quotient. Kindly click to begin the test now</p>
        </div>
       
        </div>


    </div>
    <div class="list card1">
        <div class="row mar0">
        <div class="col-10 accimg">
<img src="img/discount.png" alt="">
        </div>
        <div class="col-80">
     <p class="account-head " for="">Discount</p>
        </div>
        <div class="col-10">
<i class="ion-android-more-vertical moreacc"></i>
        </div>
        </div>
        <div class="row mar0">
        <div class="col-10">

        </div>
        <div class="col-90">
     <p class="account-text" for="">Avail 20% discount on Mantras of Digital & eCommerce. Enroll NOW!</p>
        </div>
       
        </div>


    </div>

<div class="list card1">
        <div class="row mar0">
        <div class="col-10 accimg">
<img src="img/newcourse.png" alt="">
        </div>
        <div class="col-80">
     <p class="account-head " for="">New Course</p>
        </div>
        <div class="col-10">
<i class="ion-android-more-vertical moreacc"></i>
        </div>
        </div>
        <div class="row mar0">
        <div class="col-10">

        </div>
        <div class="col-90">
     <p class="account-text" for="">Are you a business owner who wants to know more about online business? Click here for our complete new course for YOU.</p>
        </div>
       
        </div>


    </div>

    </div>

    
    <!--<ion-list>-->
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
