$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #278bcb !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
$primary:#14ab7a !default;
$yellow:#f67a1f !default;
$pink:#c81e47 !default;
$light-yellow:#ffc977 !default;
$font-family-sans-serif: "Gotham-Light",
"Gotham-Medium",
"Gotham-Thin",
"Helvetica Neue",
"Roboto",
"Segoe UI",
sans-serif !default;
$font-family-light-sans-serif: "Gotham-Light",
"Gotham-Medium",
"HelveticaNeue-Light",
"Roboto-Light",
"Segoe UI-Light",
sans-serif-light !default;
@font-face {
  font-family: 'Gotham-Thin';
  src: url("../fonts/Gotham-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium.ttf");
  font-weight: 400;
}

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

//common css
.pdtop {
  padding-top: 50px;
}

.relative {
  position: relative;
}

p,
span,
button {
  font-family: 'Gotham-Light';
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-family: 'Gotham-Medium';
  font-size: 16px;
  text-transform: capitalize;
}

.bar-header,
.tabs {
  background-color: transparent !important;
  border: none !important;
  background-image: none !important;
}

.logo-center {
  .buttons-right {
    margin: 0 auto;
  }
}

.notes {
  color: #ff1800;
}

.bar-color {
  padding: 0 10px; // background-color: #000 !important;
  .left-buttons,
  .right-buttons {
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

//otp,mobile verification
.logo-img {
  width: 200px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.login-form {
  padding: 0 15px;
  .item {
    border: none;
    background-color: transparent;
  }
  .item-input-wrapper {
    border-radius: 15px;
    padding: 0 10px;
    background-color: #10343e;
  }
}

.forms,
.bgs {
  padding: 0 25px;
  .button {
    width: 55%;
    min-height: 27px;
    border-radius: 6px;
    padding: 8px 0;
    /*background-color: #97bec9 !important;
    color: #000 !important;*/
    color: #10343e;
    background: #97bec9; // border-top-left-radius: 2em;
    // border-bottom-right-radius: 2em;
    font-size: 14px;
    font-weight: 900;
    line-height: 10px;
    text-transform: capitalize;
  }
  .resending {
    .note {
      p {
        padding: 10px 0;
        text-align: center !important;
      }
    }
  }
  .butn-pull {
    text-align: right;
    padding: 20px 0;
  }
}

.bgs {
  margin: 20px 0 0;
  button {
    width: 80% !important;
    display: block;
    margin: 0 auto;
  }
}

.note {
  line-height: normal;
  p {
    font-size: 12px;
    text-align: justify;
    margin: 0;
  }
  span {
    font-size: 10px;
  }
}

.padding {
  .shadow:nth-of-type(1) {
    position: relative;
    &:before {
      content: "";
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 20px solid #3dcdfd;
      position: absolute;
      top: -15px;
      left: 20px;
    }
  }
  .shadow {
    box-shadow: 0px -4px 2px #3dcdfd;
  }
}

.nav-bar-tabs-top.hide~.view-container .tabs-top .tabs {
  top: 43px !important;
}

//take test
.tab-color {
  .tab-item {
    opacity: 1;
    color: #fff !important;
    max-width: 100%;
  }
  .tab-item:nth-of-type(1) {
    background-color: #3dcdfd;
  }
  .tab-item:nth-of-type(2) {
    background-color: #9ac829;
  }
  .tab-item:nth-of-type(3) {
    background-color: #fc8922;
  }
  .tab-item:nth-of-type(4) {
    background-color: #fc363b;
  }
}

.home,
.certificate,
.messages,
.profile,
.mail {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../img/menu/home.png");
  background-size: contain;
}

.certificate {
  background-image: url("../img/menu/certificate.png");
}

.messages {
  background-image: url("../img/menu/messages.png");
}

.profile {
  background-image: url("../img/menu/profile.png");
}

.yes-title {
  .title {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/smallImg.png");
  }
  span {
    margin-top: 5px;
    color: #000;
  }
}

.mail {
  background-image: url("../img/email.png");
  margin: 0 20px 0 5px;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.list {
  .info {
    padding: 10px;
    p {
      font-size: 10px;
    }
  }
  .test-image {
    position: relative;
    padding: 0;
    border: none;
    img {
      width: 100%;
    }
    div {
      left: 50%;
      position: absolute;
      bottom: 45%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    p {
      color: $light;
      overflow: initial !important;
    }
  }
}

//test registration
.title-div {
  background-color: #fc9940;
  ;
  p {
    margin: 0;
    padding: 10px 0;
    color: $light;
    font-weight: 900;
  }
}

.register {
  padding: 0 10px !important;
  .card {
    box-shadow: none;
  }
  .test-image {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
  }
}

.name {
  .bgs {
    margin: 0;
  }
}

.name-surname {
  label {
    border-radius: 15px;
    padding: 0 10px;
    background-color: #dbcbb2;
    margin: 5px 0;
    input[type="text"],
    input[type="email"] {
      padding-left: 4px;
      height: 29px;
      background: transparent;
      line-height: 18px;
    }
  }
}

.abbr {
  margin-top: 5px;
  label {
    padding: 15px 0;
  }
  select {
    background-color: #dbcbb2;
    max-width: 300px;
    padding: 0 16px;
    border-radius: 15px;
    direction: initial;
    font-size: 12px;
  }
  .item-select:after {
    right: 6px;
  }
}

//test
.ion-ios-arrow-back:before,
.ion-ios-arrow-forward:before {
  color: #da9000;
  font-size: 24px;
  margin-top: 5px;
}

//test-image.time{
.cols {
  background: linear-gradient(to bottom, #ff2a32, #ff2a32, #9b0d17, #9b0d17);
  margin: 0 10px;
  position: relative;
  p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    color: #fff !important;
  }
  .dots {
    background-color: #b00010;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -14px;
    top: 25px;
    height: 5px;
    width: 5px;
  }
  .dots+.dots {
    top: 35px;
  }
}

.col {
  p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #000;
  }
}

// .answered {
//   color: $yellow !important;
// }
.pending {
  color: $pink !important;
}

.questions {
  .questioning,
  .questionings {
    height: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: #1b6a94;
    padding: 20px;
    color: #fff;
    font-size: 12px;
  }
  .questioning {
    border-top-left-radius: 10px;
  }
  .questionings {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #378daf;
    font-size: 10px;
  }
}

.question-list {
  li {
    background-color: #e6e6e6;
    padding: 5px 25px;
    text-align: left;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    font-size: 12px;
    color: #8c8a84; // &:after {
    //   content: "";
    //   background-color: #e6e6e6;
    //   height: 30px;
    //   width: 10px;
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   right: -2px;
    //   transform: skew(-6deg);
    // }
  }
  .active {
    background-color: $light-yellow !important;
  }
}

li.active {
  &:after {
    background-color: $light-yellow;
  }
}

li.active {
  .round {
    background-color: $yellow;
  }
}

.round {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  background-color: #4c97b9;
  color: #fff !important;
  position: absolute;
  top: 0;
  left: -15px;
}

.list-inline {
  display: inline-block;
  li {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    color: #fff;
    background-color: #c81e47;
    position: relative;
  }
  /* li:nth-of-type(4)*/
  li.active {
    &:before {
      content: "";
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 10px solid #c81e47;
      /*border-bottom: 10px solid #000000;*/
      position: absolute;
      top: -8px;
      left: 8px;
    }
  }
}

.pull-left {
  float: left;
  margin: 0 10px;
}

.pull-right {
  float: right;
  margin: 0 10px;
}

.sliders {
  width: 100%;
  margin: 0px auto 0;
  .ion-ios-arrow-back:before,
  .ion-ios-arrow-forward:before {
    color: #000;
    font-size: 24px;
    margin-top: 5px;
  }
}

.progress-one,
.progress-two {
  position: relative;
  margin-top: 10px;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
}

.progress-one {
  p {
    color: $yellow;
  }
}

.progress-two {
  p {
    color: $pink;
  }
}

.questions {
  overflow: scroll;
  height: 250px;
}

// .scroll-content{ background-color: rgba(20, 171, 122, 0.08) !important;}
//certificate
.certificate-info {
  span {
    font-size: 12px;
  }
}

.shadows:nth-of-type(1) {
  position: relative;
  &:before {
    border-bottom: 20px solid #9ac829 !important;
    left: 120px !important;
  }
}

.shadows {
  box-shadow: 0px -4px 2px #9ac829 !important;
}

.platform-ios.platform-cordova:not(.fullscreen) {
  .otps .has-header {
    top: 110px;
  }
  .has-header {
    top: 20px;
  }
  .header-item {
    margin: 0 !important;
  }
}

.otps {
  .has-header {
    top: 90px;
  }
}

.tabs {
  top: 45px
}

.popup-head {
  display: none;
}

.head {
  span {
    position: absolute;
    top: 0;
    right: 0;
  }
  h4 {
    text-transform: uppercase;
  }
}

.result {
  span {
    text-transform: uppercase;
    color: #14aa79;
  }
}

// .questionare {
//   text-align: center;
//   ul {
//     padding: 10px 20px;
//     display: inline-block;
//     li {
//       width: 30px;
//       height: 30px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 50%;
//       margin: 10px 0;
//       background-color: #4c97b9;
//       color: #fff !important;
//     }
//   }
// }
.headerlogo {
  width: 80%;
  img {
    width: 100%;
  }
}

.popover {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 10;
  display: block;
  margin-top: 12px;
  margin-left: -110px;
  height: 170px!important;
  width: 170px!important;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.popover-arrow {
  left: 141px!important;
}

.menuBtn {
  font-size: 25px!important;
  padding: 1px 5px 0px 0px!important;
  color: #444!important;
}

.bgforgradient {
  background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  /* ie10+ */
  background: linear-gradient(180deg, rgba(25, 24, 24, 0.50) 0, black 100%);
  /* w3c */
  text-align: center;
  p {
    padding: 10px;
    color: white;
  }
}

.navcentericon {
  height: auto!important;
}

.mar0 {
  margin: 0px!important;
  padding: 0px!important;
}

.shadowsmsg:nth-of-type(1) {
  position: relative;
  &:before {
    border-bottom: 20px solid #fe9840 !important;
    left: 215px !important;
  }
}

.shadowsmsg {
  box-shadow: 0px -4px 2px #fe9840 !important;
}

.account-head {
  padding: 10px 0px 0px 0px;
  color: #5b595a;
  font-size: 16px
}

.account-text {
  color: #5b595a;
  font-size: 14px;
  padding-right: 5px;
}

.accimg {
  padding: 10px;
  img {
    width: 80%;
  }
}

.moreacc {
  display: block;
  text-align: right;
  padding-top: 4px;
  padding-right: 5px;
  font-size: 20px;
}

.card1 {
  margin-bottom: 10px!important;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  margin-left: 0;
  margin-right: 0;
  padding-top: 1px;
  margin-top: 10px;
  padding-bottom: 1px;
}

.mar {
  margin: 8px!important;
}

.slides {
  display: inline-block !important;
  margin: 35px auto!important;
  /* li:nth-of-type(4)*/
}

.slides li {
  /*width: 30px;
height: 30px;
display: inline-block;
padding-top: 5px;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: 0;
color: #fff;
background-color: #ff2a32;
position: relative;*/
  position: relative !important;
  /*height: 18.32px;*/
  /* background-color: #ffffff; */
  /*margin: 18.66px 6px;*/
  border-left: solid 3px #ff2a32;
  border-right: solid 3px #ff2a32;
  padding: 1px;
  font-size: 13px;
  display: inherit;
  width: 30px !important;
}

.slides li:before,
.slides li:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 21.21px;
  height: 21.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.3934px;
}

.slides li:before {
  top: -10.6066px;
  border-top: solid 4.2426px #ff2a32;
  border-right: solid 4.2426px #ff2a32;
}

.slides li:after {
  bottom: -10.6066px;
  border-bottom: solid 4.2426px #ff2a32;
  border-left: solid 4.2426px #ff2a32;
}

.flexslider {
  margin: 0 !important;
  padding: 0 45px !important;
}

.flex-control-nav.flex-control-paging {
  display: none !important;
}


/*.flex-direction-nav .flex-prev {
  opacity: 1 !important;
  left: 10px;
  z-index: 9999;
}

.flex-direction-nav .flex-next {
  opacity: 1 !important;
  right: 10px;
  z-index: 9999;
}*/

.flex-direction-nav a:before {
  font-size: 20px !important;
}

.flex-direction-nav a {
  height: 20px !important;
}


/*.flex-disabled {
  opacity: 1 !important;
  z-index: 9999;
}*/

.slides {
  display: inline-block !important;
  margin: 35px auto!important;
  /* li:nth-of-type(4)*/
}

.active-arrow {
  position: relative;
}

.ps-relative {
  position: absolute;
  top: -49px;
  right: 7px;
}

.questionare {
  text-align: center;
  padding-bottom: 10px;
}

.questionare ul {
  padding: 10px 20px;
  display: inline-block;
}

.questionare ul li {
  /* width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 10px 0;
  background-color: #ff2a32;
  color: #fff !important;
*/
  position: relative;
  width: 30px;
  height: 18.32px;
  /* background-color: #ffffff; */
  margin: 22.66px 6px!important;
  border-left: solid 3px #ff2a32;
  border-right: solid 3px #ff2a32;
  padding: 1px;
  font-size: 13px;
}

.questionare li:before,
.questionare li:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 21.21px;
  height: 21.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.3934px;
}

.questionare li:before {
  top: -10.6066px;
  border-top: solid 4.2426px #ff2a32;
  border-right: solid 4.2426px #ff2a32;
}

.questionare li:after {
  bottom: -10.6066px;
  border-bottom: solid 4.2426px #ff2a32;
  border-left: solid 4.2426px #ff2a32;
}

.solved {
  border-left: solid 3px #a8c831 !important;
  border-right: solid 3px #a8c831 !important;
}

.solved:before {
  border-top: solid 4.2426px #a8c831 !important;
  border-right: solid 4.2426px #a8c831 !important;
}

.solved:after {
  border-bottom: solid 4.2426px #a8c831 !important;
  border-left: solid 4.2426px #a8c831 !important;
}

.actived {
  border-left: solid 3px #67d4df !important;
  border-right: solid 3px #67d4df !important;
}

.actived:before {
  border-top: solid 4.2426px #67d4df !important;
  border-right: solid 4.2426px #67d4df !important;
}

.actived:after {
  border-bottom: solid 4.2426px #67d4df !important;
  border-left: solid 4.2426px #67d4df !important;
}

.active-arrow {
  position: relative;
}

.list .info {
  padding: 10px;
}

.list .info p {
  font-size: 10px;
}

.list .test-image {
  position: relative;
  padding: 0;
  border: none;
}

.list .test-image img {
  width: 100%;
}

.list .test-image p {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
  overflow: initial !important;
}

.title-div {
  background-color: #fc9940;
}

.title-div p {
  margin: 0;
  padding: 10px 0;
  color: #fff;
  font-weight: 900;
}

.register {
  padding: 0 10px !important;
}

.register .card {
  box-shadow: none;
}

.register .test-image {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.name .bgs {
  margin: 0;
}

.name-surname label {
  border-radius: 15px;
  padding: 0 10px;
  background-color: #10343e;
  margin: 5px 0;
}

.name-surname label input[type="text"],
.name-surname label input[type="email"] {
  padding-left: 4px;
  height: 29px;
  color: #fff !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  background: transparent;
  line-height: 18px;
}

.abbr {
  margin-top: 5px;
}

.abbr label {
  padding: 15px 0;
}

.abbr select {
  background-color: #10343e;
  max-width: 300px;
  padding: 0 16px;
  border-radius: 15px;
  direction: initial;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
}

.abbr .item-select:after {
  right: 6px;
}

.ion-ios-arrow-back:before,
.ion-ios-arrow-forward:before {
  color: #da9000;
  font-size: 24px;
  margin-top: 5px;
}

.cols {
  background-color: #fe2b32;
  margin: 0 10px;
  position: relative;
}

.cols p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 20px;
  color: #fff !important;
}

.cols .dots {
  background-color: #b00010;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -14px;
  top: 25px;
  height: 5px;
  width: 5px;
}

.cols .dots+.dots {
  top: 35px;
}

.col p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #000;
}

.answered {
  color: #a8c831 !important;
}

.pending {
  color: #ff2a32 !important;
}

.questions .questioning,
.questions .questionings {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: #1b6a94;
  padding: 20px;
  color: #fff;
  font-size: 12px;
}

.questions .questioning {
  border-top-left-radius: 10px;
}

.questions .questionings {
  background-color: #1a6a93;
  font-size: 14px;
  margin: 0px 10px;
  font-weight: 900 !important;
  /* width: 47%; */
  border-radius: 10px 0px 0px 0px;
  color: white;
  height: 100%;
}

.mainquestion {
  background-color: #368caf;
  font-size: 14px;
  padding: 5px;
  font-weight: 900 !important;
  color: white;
}

.question-list li {
  background-color: #e6e6e6;
  padding: 12px 25px;
  text-align: left;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  font-size: 12px;
  font-weight: 900;
  color: #8c8a84;
  width: 90%;
}

.qmar {
  margin-left: 40px;
}

// .question-list li:after {
//   content: "";
//   background-color: #e6e6e6;
//   height: 30px;
//   width: 10px;
//   display: block;
//   position: absolute;
//   top: 0;
//   right: -2px;
//   transform: skew(-6deg);
// }
.question-list .active {
  background-color: #aac92f !important;
}

li.active:after {
  background-color: #aac92f;
}

li.active .round {
  background-color: #f67a1f;
}

.round {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  background-color: #4c97b9;
  color: #fff !important;
  position: absolute;
  top: 0;
  left: -25px;
}

progress-one,
.progress-two {
  position: relative;
  margin-top: 10px;
}

.progress-one p,
.progress-two p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.progress-one p {
  color: #a8c831;
}

.progress-two p {
  color: #ff2a32;
}

.questions {
  overflow: scroll;
  height: 250px;
}

.certificate-info span {
  font-size: 12px;
}

.shadows:nth-of-type(1) {
  position: relative;
}

.forms,
.bgs1 {
  padding: 0 25px;
  .button {
    width: 55%;
    min-height: 27px;
    border-radius: 6px;
    padding: 8px 0;
    /*background-color: #97bec9 !important;
    color: #000 !important;*/
    color: #10343e;
    background: #97bec9;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    font-size: 14px;
    font-weight: 900;
    line-height: 10px;
    text-transform: capitalize;
  }
  .resending {
    .note {
      p {
        padding: 10px 0;
        text-align: center !important;
      }
    }
  }
  .butn-pull {
    text-align: right;
    padding: 20px 0;
  }
}

.bgs1 {
  margin: 20px 0 0;
  button {
    width: 80% !important;
    display: block;
    margin: 0 auto;
  }
}

.padtop-5 {
  padding-top: 8px!important;
}

.textHeight {
  width: 100%;
  background: #bab6b8;
  border: 1px solid #636162!important;
  padding-left: 5px!important;
  border-radius: 5px;
  height: 24px!important;
  @include placeholder {
    color: #6d6d6d;
  }
}

.pad-15 {
  padding: 15px!important;
}

//profile
.pro-inbr {
  border-bottom: 1px solid #bebebe!important;
  width: 98%;
}

.nameText {
  margin: 0px 5px !important;
  color: #b6b6b6;
  font-size: 15px;
  padding-top: 10px;
}

.icondiv {
  text-align: center;
  margin: 10px auto;
  ;
  img {
    width: 35%;
  }
}

.proImg {
  height: 60px;
  width: 60px;
  font-size: 50px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  i {
    font-size: 50px;
  }
}

.forms,
.bgs2 {
  .button {
    width: 55%;
    min-height: 27px;
    border-radius: 6px;
    padding: 8px 0;
    /*background-color: #97bec9 !important;
    color: #000 !important;*/
    color: #10343e;
    background: #97bec9; // border-top-left-radius: 2em;
    // border-bottom-right-radius: 2em;
    font-size: 14px;
    font-weight: 900;
    line-height: 10px;
    text-transform: capitalize;
  }
  .resending {
    .note {
      p {
        padding: 10px 0;
        text-align: center !important;
      }
    }
  }
  .butn-pull {
    text-align: right;
    padding: 20px 0;
  }
}

.bgs2 {
  margin: 20px 0 0;
  button {
    width: 80% !important;
    display: block;
    margin: 0 auto;
  }
}

// .padding1 {
.shadow2:nth-of-type(1) {
  position: relative;
  &:before {
    content: "";
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 20px solid #3dcdfd;
    position: absolute;
    top: -15px;
    right: 20px;
  }
}

.shadow2 {
  box-shadow: 0px -4px 2px #3dcdfd;
}

.shadows2:nth-of-type(1) {
  position: relative;
  &:before {
    border-bottom: 20px solid #fb3833 !important;
    right: 8% !important;
  }
}

.shadows2 {
  box-shadow: 0px -4px #fb3833 !important;
}

.inputHeight {
  height: 25px!important;
  margin: 0px 5px !important;
  background-color: transparent!important;
}

.profImg {
  text-align: center;
  margin: 10px auto;
  width: 80%;
  img {
    width: 100%;
  }
}

.editpro {
  text-align: -webkit-center;
  color: #77c1b6;
}

.icondiv1 {
  text-align: center;
  margin: 10px auto;
  ;
  img {
    width: 25%;
  }
}

.perinfo {
  background: #97bec9;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  font-size: 14px!important;
  color: #1c505c
}

.absoluteImg {
  position: absolute;
  width: 4%;
  transform: translate(-50%, -50%);
  top: 35%;
  right: 0%;
  img {
    width: 100%;
  }
}

.verified {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 24%;
  right: 0%;
  font-size: 13px;
  color: #797979;
}

.veriImg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 24%;
  right: 22%;
  width: 4%;
  img {
    width: 100%
  }
}

//quetionpreview
.questionare {
  text-align: center;
}

.questionare ul {
  padding: 10px 20px;
  display: inline-block;
}

.questionare ul li {
  /* width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 10px 0;
  background-color: #ff2a32;
  color: #fff !important;
*/
  position: relative;
  width: 30px;
  height: 18.32px;
  /* background-color: #ffffff; */
  margin: 22.66px 6px;
  border-left: solid 3px #ff2a32;
  border-right: solid 3px #ff2a32;
  padding: 1px;
  font-size: 13px;
}

.questionare li:before,
.questionare li:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 21.21px;
  height: 21.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.3934px;
}

.questionare li:before {
  top: -10.6066px;
  border-top: solid 4.2426px #ff2a32;
  border-right: solid 4.2426px #ff2a32;
}

.questionare li:after {
  bottom: -10.6066px;
  border-bottom: solid 4.2426px #ff2a32;
  border-left: solid 4.2426px #ff2a32;
}

.solved {
  border-left: solid 3px #a8c831 !important;
  border-right: solid 3px #a8c831 !important;
}

.solved:before {
  border-top: solid 4.2426px #a8c831 !important;
  border-right: solid 4.2426px #a8c831 !important;
}

.solved:after {
  border-bottom: solid 4.2426px #a8c831 !important;
  border-left: solid 4.2426px #a8c831 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
fieldset,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

.cols .dots {
  background-color: #b00010;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -14px;
  top: 25px;
  height: 5px;
  width: 5px;
}

.cols .dots+.dots {
  top: 35px;
}

.questions {
  overflow: scroll;
  height: 250px;
}

.marbot {
  margin-bottom: 10px;
}

.phoneno {
  font-weight: 900;
  color: white!important;
}

.buttonmob {
  border-radius: 18px 0!important;
  width: 50%!important;
}

.inputform {
  width: 100%!important;
  font-weight: 900;
  color: white!important;
}

.otpin {
  width: 100%;
  font-weight: 900;
  color: white!important;
  text-align: center;
}

.otpbutton {
  width: 39%!important;
  border-radius: 18px 0!important;
}

.butdash {
  border-radius: 18px 0!important;
}

.mrwidth {
  width: 80%!important;
}

.pad0 {
  padding: 0;
}
