<div class="time-up relative">
  <div class="head">
    <!--<div class="buttons">
      <button class="button button-clear ion-close" ng-click="closePopup()"></button>
    </div>-->
    <h4 class="title text-center">Time Up</h4>
    <span class="ion-close-round" ng-click="closePopup()"></span>
    
  </div>
  <div>
    <div class="list">
     <p>Your time is up. Click on check result.</p>
    </div>
    <div class="padding text-right result" >
         <span class="">Check result</span>
      <!--<button class="button button-positive button-block">
  Check result
</button>-->
    </div>
  </div>
</div>